@media (min-width: 801px) {
  
  * {
    font-size: 22px;
  }
  
    .navbar-btn {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
  }

  .navbar-menu {
    display: flex;
    font-size: 20px;
    gap: 40px;
    padding: 0px 30px;
    transform: translate(0%);
    top: 0;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    border: none;
    transition: 0ms;
  }

  #inicio {
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .about-me {
    display: flex;

   text-align: start;
   align-items: flex-start;
  }

  .contact-icons a {

    max-width: 10%;
  }
  


  .btn-CV span{
    justify-content: flex-start;
  }

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}


}
